*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.parted{
    height: 200px;
    width: 100vw;
    background-color: rgb(19, 19, 19);
    color: white;
    display:  flex;
    align-items: center;
    text-align: center;
    justify-content:space-between;
    // justify-content: center;
    // border: 2px solid green;
}

.part1{
  height: 140px;
  width: 400px;
  margin-left: 300px;
  padding-top: 40px;
    //  border: 2px solid green;
     border-right: 4px solid white;
}
.part2{
    margin-right: 300px;
    height: 200px;
    width: 400px;
//  border: 2px solid red;
//  display: flex;
gap: 10px;
padding-top: 20px;
}
.part2>a{

    color: white;
    font-size: 25px;
}

@media  screen and (max-width:850px) {
 .parted{
    height: 400px;
    width:184.5%;
 }   
 .part1{
    margin-left: 450px;
 }
 .part2{
    margin-right: 400px;
 }
 .part2>a{
    font-size: 32px;
 }
 .part1{
    font-size: 32px;
 }
}
@media  screen and (max-width:720px) {
    .parted{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 550px;
       
    }
    .part1{
        margin: 0;
        padding: 0;
        border: none;
        border-bottom: 3px solid white;
        
    }
    .part2{
        // padding-top: 5px;

        margin: 0;
        padding: 0;
        border: none;   
    }
    .part2>a{
        font-size: 32px;
     }
     .part1{
        font-size: 32px;
     }
}
@media  screen and (max-width:415px) {
    .parted{
        width: 280vw;
    }
    
}
@media  screen and (max-width:315px) {
    .parted{
        height: 400px;
        width:370vw;
     }   
    
}
